
.main {
	text-align: center;
	margin-top: 30px;
	border:	4px solid #faa17f;
	padding: 10px;
}
.main p {
	color: #ee713b;
}
h1 {
	color: #ee713b;
}
.main input {
	border-color: #faa17f;
	text-align: center;
}
.btn {
	margin-top: 10px;
	background-color: #faa17f;
	color: white;
}
.result{
	margin-top: 20px;
}
#musImage {
	width: 70%;
}
.wrong {
	font-size: 2em;
	background-color: red;
	color: white;
	text-align: center;
	margin-top: 25px;
}
.result h2 {
	text-decoration: underline;
	color: #ee713b;
}
.text {
	text-align: center;
}
.humanB {
	margin: 30px auto;
}

